.top-nav {
	display:block;
	margin: 0 auto;
	float:none;
	border-top:2px;
	border-bottom:2px;
	border-top: 2px;
	border-style: solid;
	border-right: none;
	border-left: none;
	border-color: #939393;
	margin-top: 8px;
	text-transform: uppercase;
}

.footer-ul {
	list-style-type: none;
	text-transform: capitalize;
}
