

.myInfobox a {
  color: #818181;
  text-decoration: none;
  font-size: 13px;
}

.myInfobox {
  background-color: transparent;
  width: 250px;
  margin-top: -35px;
  font-size: 14px;
}

.myInfobox {
  background-color: transparent;
  width: 200px;

  margin-top: -32px;

  border-bottom-style: solid;
  border-bottom-color: rgb(165, 165, 165);
  border-bottom-width: 1px;
  height: 30px;
  text-align: right;
}

.myInfobox img{
	display:none;
}

hr{
	margin:30px 10%;
}

.map-container{
	height: 500px;
}

.owl-item img {
  height: 355px;
}

.owl-item {
  margin-right: 0px !important;
}

.owl-controls {
  position: absolute;
  width: 100%;
    margin-top: -33px !important;
}

.menu-item ul{

}

.navbar {
 margin-bottom: 0 !important;
 border: none;
 text-align: center;
 font-family: 'Quicksand', sans-serif;
 min-height: 10px;

}

.nav>li {
display: inline-block;
}

.navbar-nav>li {
float: none;
}
.navbar-nav>li>a{
	color:#979797;
	font-weight: medium;
	transition: all 0.5s ease;
}
.navbar-nav>li>a:hover{
background-color: #fff;
color:#000000;
transition: all 0.5s ease;
}

.navbar-toggle {
/*position: absolute;*/
/* float: right; */
padding: 9px 10px;
margin-top: 8px;
margin-right: 15px;
margin-bottom: 8px;
background-color: rgba(239, 239, 239, 0.6);
background-image: none;
border: 1px solid transparent;
border-radius: 4px;
right: 0;
top: -28px;
}
.navbar-toggle .icon-bar {
background-color: black;
}

a {
color: #eee;
text-decoration: none;
}

.fa {
font-size: 20px;
margin: 20px 5px;
}

.feature-box{
	margin-top: 20px;
}

.feature-content{
width:20%;

float:left;
}

.feature-content .title{
font-size: 16px;
border-bottom: 2px solid #626161;
margin-bottom: 3px;
font-family: 'Quicksand', sans-serif;
font-weight: bold;
margin-bottom: 10px;
padding-bottom: 2px;
}

.feature-content .image{
	height:200px;
	background-color:#eee;
	margin

	border-radius: 1px;
	background-size: cover;

}



.sitemap{
	float:left;
	font-family: 'Cardo';
	margin-bottom: 30px;

}

.sitemap .title{
	margin-left: 39px;
font-style: italic;
font-size: 16px;
margin-bottom: 10px;
}

.sitemap ul{
	width: 300px;
}
.sitemap ul a {
color: #444;
}
.socialmedia ul{
	width: 130px;
}
.socialmedia ul a{
	color: #444;
}
.sitemap ul li{
	float: left;
width: 120px;

}
.socialmedia ul li{
	float: left;
width: 120px;

}

.socialmedia{
	float:left;
	font-family: 'Cardo';
	margin-bottom: 30px;
}

.socialmedia .title{
	margin-left: 39px;
font-style: italic;
font-size: 16px;
margin-bottom: 10px;
}

.socialmediaicons{
	position: absolute;
	top: 0;

}

.category-filter{
	 font-family: 'Quicksand', sans-serif;
}

.category-filter li{
	 border-bottom: 1px;
border-style: solid;
border-right: none;
border-left: none;
border-top: none;
border-color: #eee;
list-style-type: none;
font-size: 16;

font-weight: lighter;
padding: 3px;

}

.category-filter li a{
color: rgb(168, 168, 177);
}

.category-filter .title{
	margin: 19px 0px 8px 25px;
font-weight: bold;
}

.post-image{
	height:200px;
	background-color:#eee;
	margin

	border-radius: 1px;
	background-size: cover;
	background-position: center center;
}

.category-post-div{
	padding: 16px 10px;
	font-family: 'Cardo';
}

.readmore{
	color:#EE6B3F;
	font-style: italic;
	font-size: 17px;
	font-family: 'Cardo';
}

.travel-post{
	padding:20px;
	font-family: 'Cardo';
	margin-bottom: 30px;
}

.travel-post .title{
	font-size: 25px;
}

.travel-post .subtitle{
	font-size: 20px;
}

.travel-post .date{
	font-size: 15px;
	margin-bottom: 15px;
}

.travel-post .excerpt{
	font-size: 17px;
	margin-bottom: 15px;
}

.travel-post .image{
	width:100%;
	height:60%;
	background-size: cover;
	background-position: center center;
	margin-bottom: 15px;
}
.travel-sidebar .content{
	padding:10px 10px 10px 2px;
	min-height: 115px;
}

.travel-sidebar .title{
	font-family: 'Cardo';
	font-size: 20px;
	font-weight: normal;
	font-style: italic;
	margin-top: 20px;
	border-bottom:1px solid black;
	margin-right: 30px;


}

.travel-sidebar img{
	width:100px;
	height:100px;
	float:left;
	margin: 0 10px 5px 0;

}

.post-featuregallery-div{
	width:100%;
	height:500px;
	background-color: #eee;
}


.post-info{
	margin-top: 10px;
font-size: 17px;
}

.post-title{
	font-size: 19px;
}

.single-post{
	padding:3%;
		font-family: 'Cardo';
}

.single-post-title {
font-size: 24px;
font-weight: bold;
margin-bottom: 15px;
}

.single-post-content img{
margin-right: 5px;
margin-bottom: 5px;
}


@media (max-width: 1280px) {

.feature-content {
width: 31%;
margin: 1%;
float: left;
}
}

@media (min-width: 1200px){
	.col-lg-10 {
width: 76.333333%;
}


.single-post-title, .single-post-content{
	padding: 0 15%;
}
}



@media (max-width: 1000px) {

.nav>li>a {
position: relative;
display: block;
padding: 10px 10px;
}
.feature-content {
width: 44%;
margin: 3%;
float: left;
}

#logo img{
width:250px;
}

}

@media (max-width: 960px) {


}

@media (max-width: 768px) {
.travel-post .image{
	height:50%;
}
.map-container{
	display:none;
}

#logo img{
width:161px;
margin-bottom: -33px !important;
}

}

@media (max-width: 600px) {
.feature-content {
width: 80%;
margin: 10%;
float: left;
}
.travel-post .image{
	height:40%;
}

}

@media (max-width: 400px) {

.travel-post .image{
	height:30%;
}
